// Body
$body-bg: #495ec61a;

// Typography
$family-primary: $brand-font-regular, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// Colors
//$blue: #00BCF5;         //webex
//$indigo: #6574cd;
//$purple: #6B32CA;       //webex
//$pink: #f66d9b;
//$red: #FF3A65;          //webex
//$orange: #ff7a3f;       //webex
//$yellow: #fbbd23;       //webex
//$green: #82CF5F;        //webex
//$teal: #4dc0b5;
//$cyan: #6cb2eb;
